
<header class="header black-bg">
    <div class="sidebar-toggle-box">
      <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
    </div>
    <!--logo start-->
    <a routerLink='/homeprof/{{user?._id}}' routerLinkActive="router-link-active"  class="logo"><b>ISSAT<span>SO</span></b></a>
    <!--logo end-->
    <div class="nav notify-row" id="top_menu">
      <!--  notification start -->
      <ul class="nav top-menu">
        <!-- settings start -->
        <li class="dropdown">
          <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
            <i class="fa fa-tasks"></i>
            <span class="badge bg-theme">4</span>
            </a>
          <ul class="dropdown-menu extended tasks-bar">
            <div class="notify-arrow notify-arrow-green"></div>
            <li>
              <p class="green">You have 4 pending tasks</p>
            </li>
            <li class="external">
              <a href="#">See All Tasks</a>
            </li>
          </ul>
        </li>
        <!-- settings end -->
        <!-- inbox dropdown start-->
        <li id="header_inbox_bar" class="dropdown">
          <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
            <i class="fa fa-envelope-o"></i>
            <span class="badge bg-theme">5</span>
            </a>
          <ul class="dropdown-menu extended inbox">
            <div class="notify-arrow notify-arrow-green"></div>
            
           
          </ul>
        </li>
        <!-- inbox dropdown end -->
        <!-- notification dropdown start-->
        <li id="header_notification_bar" class="dropdown">
          <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
            <i class="fa fa-bell-o"></i>
            <span class="badge bg-warning">7</span>
            </a>
          <ul class="dropdown-menu extended notification">
            <div class="notify-arrow notify-arrow-yellow"></div>
            <li>
              <p class="yellow">You have 7 new notifications</p>
            </li>
            <li>
              <a href="index.html#">See all notifications</a>
            </li>
          </ul>
        </li>
        <!-- notification dropdown end -->
      </ul>
      <!--  notification end -->
    </div>
    <div class="top-menu">
      <ul class="nav pull-right top-menu">
        <li><a class="logout" (click)="profService.logoutUser()">Logout</a></li>
      </ul>
    </div>
  </header>
  <!--header end-->
  <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
  <!--sidebar start-->
  <aside>
    <div id="sidebar" class="nav-collapse ">
      <!-- sidebar menu start-->
      <ul class="sidebar-menu" id="nav-accordion">
        <p class="centered"><a href="profile.html"><img src="http://localhost:3001/{{user?.image}}" class="img-circle" width="80" ></a></p>
            <h5 class="centered">{{user?.firstname}} {{user?.lastname}}</h5>
        
        
        <li class="mt">
          <a class="active" routerLink="/homeprof/{{user?._id}}" routerLinkActive="active">
            <i class="fa fa-dashboard"></i>
            <span>Home</span>
            </a>
        </li>

        <li>
          <a routerLink="profile/{{user?._id}}" >
             <i class="fa fa-user"></i>
             <span>Profile</span>
             </a>
         </li>

        <li>
          <a routerLink="emploi/{{user?._id}}" >
            <i class="fa fa-calendar"></i>
            <span>Calendar</span>
            </a>
          
        </li>

        <li class="sub-menu">
          <a href="javascript:;">
            <i class="fa fa-clipboard"></i>
            <span>Students absences</span>
            </a>
          <ul class="sub">
            <li><a routerLink="listAbProf/{{user?._id}}" >presence list</a></li>
            <li><a routerLink="listepresence/{{user?._id}}" >Mark absence</a></li>
          </ul>
        </li>
        
          <li>
            <a routerLink="notes">
              <i class="fa fa-pencil"></i>
              <span>Notes</span>
              </a>
            
          </li>
          <li>
            <a href="#">
              <i class="fa fa-book"></i>
              <span>Documents</span>
              </a>
            
          </li>
          
        
        <li>
          <a href="#">
            <i class="fa fa-envelope"></i>
            <span>Mail </span>
            <span class="label label-theme pull-right mail-info">2</span>
            </a>
        </li>

        
        <li class="sub-menu">
          <a href="javascript:;">
            <i class="fa fa-comments-o"></i>
            <span>Chat Room</span>
            </a>
          <ul class="sub">
            <li><a href="#">Lobby</a></li>
            <li><a href="#"> Chat Room</a></li>
          </ul>
        </li>
        
      </ul>
      <!-- sidebar menu end-->
    </div>
  </aside>
  <!--sidebar end-->
      <!--______________________________________________________________________________________________-->
      <router-outlet></router-outlet>
      <!--______________________________________________________________________________________________-->
      <!--footer start-->
      <footer class="site-footer">
        <div class="text-center">
          <p>
            &copy; Copyrights <strong><a href="http://www.issatso.rnu.tn/fo/index.php">ISSATSO</a></strong>. All Rights Reserved
          </p>
          <a href="index.html#" class="go-top">
            <i class="fa fa-angle-up"></i>
            </a>
        </div>
      </footer>
      <!--footer end-->
   
