

  <section id="main-content" style="background-color: aliceblue;">
    <section class="wrapper">
        <div class="container" >
            
            <h2>Hover Rows</h2>
            <p>The .table-hover class enables a hover state on table rows:</p>            
            <form  (ngSubmit)="validate()">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>CIN</th>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Email</th>
                        <th>Présent/Absent</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let etudiant of etudiants">
                        <td>{{etudiant.cin}}</td>
                        <td>{{etudiant.firstname}}</td>
                        <td>{{etudiant.lastname}}</td>
                        <td>{{etudiant.email}}</td>
                        <td><input type="checkbox" name="absent"  id="{{etudiant._id}}" (change)="ajouter(etudiant._id)"></td>
                    </tr>
                    </tbody>
                </table>
                <button type="submit"  value="">Valider</button>
            </form>
        </div>
    </section>
</section>

