<section id="main-content">
    <section class="wrapper site-min-height">
      <h3><i class="fa fa-angle-right" styel="color:white"></i> News</h3>
    <div class="dmbox center center" style="
    width:500px;
    height: 100%;
    background-color: white;
    box-shadow: 3px 3px darkcyan;
    border-radius: 7px;
    width: 820px;
    margin-left:15%">
      <div class="service-icon rounded">
        <img class=".img-fluid" src="http://localhost:3001/{{article?.image}}" width="50%" height="50%"><br>
        <br>
        <br>
        <a class="" style="margin-top:20%">{{article?.title}}</a>
      </div>
      <br>
      <h4>{{article?.topic}}</h4>
      <h6>{{article?.date}}</h6>
      <p style=" 
      margin-left:2%; 
      text-align: left; 
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 16px;    
      max-height: 32px;      
      -webkit-line-clamp: 2; 
      -webkit-box-orient: vertical;">{{article?.content}}</p>
    </div>
      </section>
    </section>