
<div id="login-page" >
  <div role="form" class="container">
    <form class="form-login" [formGroup]="loginForm" (ngSubmit)="loginBtn()" >
      <h2 class="form-login-heading">sign in now</h2>
      <div class="login-wrap">
        <input formControlName="email" name="email" type="text" class="form-control" placeholder="Email" autofocus required>
          <br>
        <input formControlName="password" name="password" type="password" class="form-control" placeholder="Password" required>
        
        <div id="errorMsg" *ngIf="b">
          <p style="color:rgba(255, 0, 0, 0.411);">{{ b }}</p>
      </div>
          <label class="checkbox">
          <span class="pull-right">
          <a data-toggle="modal" href="login.html#myModal">Forgot Password?</a>
          </span>
          </label>
        <button class="btn btn-theme btn-block" href="index.html" type="submit" style="margin-top:15%"><i class="fa fa-lock"></i> SIGN IN</button>

           
      </div>
      
      <!-- Modal -->
      <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title text-center">Forgot Password ?</h4>
            </div>
            <div>
              <div id="errorMsg" *ngIf="errorMessage">
                  <span>{{errorMessage}}</span>
              </div>
              <div id="successMsg" *ngIf="successMessage">
                  <span>{{successMessage}}</span>
              </div>
              <form action="" [formGroup]="RequestResetForm" (ngSubmit)="RequestResetUser(RequestResetForm)">
                <div class="form-group modal-body">
                  <p>Enter your e-mail address below to reset your password.</p>
                    <input _ngcontent-c0="" class="form-control form-control-lg" placeholder="email"
                        type="text" id="email" formControlName="email" />
                    <span *ngIf="!RequestResetForm.get('email').valid && !IsvalidForm"
                        class="help-block">Please enter a valid email!</span>
                </div>
                <div class="form-group">
                    <div style="margin-left: 75%;">
                        <button type="submit" class=" btn btn-theme">Reset
                            Password</button>
                    </div>
                </div>
            </form>
          </div>
          </div>
        </div>
      </div>
      <!-- modal -->
    </form>
  </div>
</div>