<!-- ********************************************************************************************************************************************************
        MAIN CONTENT
        ********************************************************************************************************************************************************* -->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
          <h3><i class="fa fa-angle-right"></i>Notes</h3>
          <!-- /row -->
          <div class="row mt">
            <div class="col-lg-12">
              <div class="content-panel" >
                <!-- <h4><i class="fa fa-angle-right"></i>{{ userG0?.groupe.nom }}</h4> -->
  
               <section id="no-more-tables">
                  <table class="table table-bordered table-striped table-condensed cf">
                    <thead class="cf">
                      <tr>
                        <th >Matter\Note</th>
                        <th>DS</th>
                        <th>Examen</th>
                        <th>TP</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let nom of noms">
                      <tr>
                       <td data-title="Code">{{ nom[0] }}</td>
                       <td ><div *ngFor="let n of nb"><p *ngIf="n?.type==='DS' && n?.matiere===nom[1]"> {{ n?.note }} </p></div></td>
                       <td ><div *ngFor="let n of nb"><p *ngIf="n?.type==='Examen' && n?.matiere===nom[1]"> {{ n?.note }} </p></div></td>
                       <td ><div *ngFor="let n of nb"><p *ngIf="n?.type==='TP' && n?.matiere===nom[1]"> {{ n?.note }} </p></div></td>
                     </tr>
                    </tbody>
              </table>
            </section>
            </div>
            
              <!-- /content-panel -->
            </div>
            <!-- /col-lg-12 -->
          </div>
          <!-- /row -->
        </section>
        <!-- /wrapper -->
      </section>
      <!-- /MAIN CONTENT -->
      <!--main content end-->