      <!--header start-->
      <header class="header black-bg">
        <div class="sidebar-toggle-box">
          <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
        </div>
        <!--logo start-->
        <a href="index.html" class="logo"><b>IS<span>SAT</span></b></a>
        <!--logo end-->
        <div class="nav notify-row" id="top_menu">
          <!--  notification start -->
          <ul class="nav top-menu">
            <!-- settings start -->
            <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                <i class="fa fa-tasks"></i>
                <span class="badge bg-theme">4</span>
                </a>
              <ul class="dropdown-menu extended tasks-bar">
                <div class="notify-arrow notify-arrow-green"></div>
                <li>
                  <p class="green">You have 4 pending tasks</p>
                </li>
                <li>
                  <a href="index.html#">
                    <div class="task-info">
                      <div class="desc">Dashio Admin Panel</div>
                      <div class="percent">40%</div>
                    </div>
                    <div class="progress progress-striped">
                      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                        <span class="sr-only">40% Complete (success)</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="index.html#">
                    <div class="task-info">
                      <div class="desc">Database Update</div>
                      <div class="percent">60%</div>
                    </div>
                    <div class="progress progress-striped">
                      <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                        <span class="sr-only">60% Complete (warning)</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="index.html#">
                    <div class="task-info">
                      <div class="desc">Product Development</div>
                      <div class="percent">80%</div>
                    </div>
                    <div class="progress progress-striped">
                      <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                        <span class="sr-only">80% Complete</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="index.html#">
                    <div class="task-info">
                      <div class="desc">Payments Sent</div>
                      <div class="percent">70%</div>
                    </div>
                    <div class="progress progress-striped">
                      <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                        <span class="sr-only">70% Complete (Important)</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="external">
                  <a href="#">See All Tasks</a>
                </li>
              </ul>
            </li>
            <!-- settings end -->
            <!-- inbox dropdown start-->
            <li id="header_inbox_bar" class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                <i class="fa fa-envelope-o"></i>
                <span class="badge bg-theme">5</span>
                </a>
              <ul class="dropdown-menu extended inbox">
                <div class="notify-arrow notify-arrow-green"></div>
                <li>
                  <p class="green">You have 5 new messages</p>
                </li>
                <li>
                  <a href="index.html#">
                    <span class="photo"><img alt="avatar" src="assets/img/ui-zac.jpg"></span>
                    <span class="subject">
                    <span class="from">Zac Snider</span>
                    <span class="time">Just now</span>
                    </span>
                    <span class="message">
                    Hi mate, how is everything?
                    </span>
                    </a>
                </li>
                <li>
                  <a href="index.html#">
                    <span class="photo"><img alt="avatar" src="assets/img/ui-divya.jpg"></span>
                    <span class="subject">
                    <span class="from">Divya Manian</span>
                    <span class="time">40 mins.</span>
                    </span>
                    <span class="message">
                    Hi, I need your help with this.
                    </span>
                    </a>
                </li>
                <li>
                  <a href="index.html#">
                    <span class="photo"><img alt="avatar" src="assets/img/ui-danro.jpg"></span>
                    <span class="subject">
                    <span class="from">Dan Rogers</span>
                    <span class="time">2 hrs.</span>
                    </span>
                    <span class="message">
                    Love your new Dashboard.
                    </span>
                    </a>
                </li>
                <li>
                  <a href="index.html#">
                    <span class="photo"><img alt="avatar" src="assets/img/ui-sherman.jpg"></span>
                    <span class="subject">
                    <span class="from">Dj Sherman</span>
                    <span class="time">4 hrs.</span>
                    </span>
                    <span class="message">
                    Please, answer asap.
                    </span>
                    </a>
                </li>
                <li>
                  <a href="index.html#">See all messages</a>
                </li>
              </ul>
            </li>
            <!-- inbox dropdown end -->
            <!-- notification dropdown start-->
            <li id="header_notification_bar" class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                <i class="fa fa-bell-o"></i>
                <span class="badge bg-warning">{{notifications.length}}</span>
                </a>
              <ul  class="dropdown-menu extended notification" style="width:20%">
                <div class="notify-arrow notify-arrow-yellow"></div>
                <li>
                  <p class="yellow">You have {{notifications.length}} new notifications</p>
                </li >
                <li *ngFor="let n of notifications | paginate:{  itemsPerPage: 1, currentPage:p}" style="width:20%">
                  <a style="font-size:20pw" href="index.html#">
                    <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                    {{n}}
                    
                    </a>
                    <a style="width:0%">
                    <pagination-controls (pageChange)="p=$event"    directionLinks="true"
                    autoHide="true"
                    responsive="true"class="my-pagination center"  style="padding-left:-20%"></pagination-controls>
                    </a>
                </li>

              </ul>
            </li>
            <!-- notification dropdown end -->
          </ul>
          <!--  notification end -->
        </div>
        <div class="top-menu">
          <ul class="nav pull-right top-menu">
            <li><a class="logout" routerLink="" routerLinkActive="active" >Logout</a></li>
          </ul>
        </div>
      </header>
      <!--header end-->
      <!-- **********************************************************************************************************************************************************
          MAIN SIDEBAR MENU
          *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
        <div id="sidebar" class="nav-collapse ">
          <!-- sidebar menu start-->
          <ul class="sidebar-menu" id="nav-accordion">
            <p class="centered"><a href="profile.html"><img src="http://localhost:3001/{{user?.image}}" class="img-circle" width="80" ></a></p>
            <h5 class="centered">{{user?.firstname}}{{user?.lastname}}</h5>
            

            <!--Sam Soffes************************************************-->
            <li class="mt">
              <a class="active" routerLink="/home/{{user?._id}}" routerLinkActive="active">
                <i class="fa fa-dashboard"></i>
                <span>Home</span>
                </a>
            </li>
            <li>
             <a routerLink="profile/{{user?._id}}" routerLinkActive="active">
                <i class="fa fa-user"></i>
                <span>Profile</span>
                </a>
            </li>
            <li>
              <a routerLink="emploi/{{user?._id}}" routerLinkActive="active">
                 <i class="fa fa-calendar"></i>
                 <span>Calendar</span>
                 </a>
             </li>
            <li>
              <a routerLink="absence/{{user?._id}}" routerLinkActive="active">
                 <i class="fa fa-book"></i>
                 <span>Absences</span>
                 </a>
             </li>
             <li>
              <a  routerLink="note_e/{{user?._id}}" routerLinkActive="active">
                 <i class="fa fa-th"></i>
                 <span>Notes</span>
                 </a>
             </li>
             <li>
              <a  routerLink="#" routerLinkActive="active">
                 <i class="fa fa-file"></i>
                 <span>Documents</span>
                 </a>
             </li>
             <li>
              <a  routerLink="#" routerLinkActive="active">
                 <i class="fa fa-bar-chart-o"></i>
                 <span>Charts</span>
                 </a>
             </li>
             <li>
              <a  routerLink="#" routerLinkActive="active">
                 <i class="fa fa-comments-o"></i>
                 <span>Chat Room</span>
                 </a>
             </li>
             <li>
              <a routerLink="map" routerLinkActive="active">
                <i class="fa fa-map-marker"></i>
                <span>Google Maps </span>
                </a>
            </li>
          </ul>
          <!-- sidebar menu end-->
        </div>
      </aside>
      <!--sidebar end-->
      <!--______________________________________________________________________________________________-->
      <router-outlet></router-outlet>
      <!--______________________________________________________________________________________________-->
      <!--footer start-->
      <footer class="site-footer">
        <div class="text-center">
          <p>
            &copy; Copyrights <strong><a href="http://www.issatso.rnu.tn/fo/index.php">ISSATSO</a></strong>. All Rights Reserved
          </p>
          <a href="index.html#" class="go-top">
            <i class="fa fa-angle-up"></i>
            </a>
        </div>
      </footer>
      <!--footer end-->
   
